<p id="notice"><%= notice %></p>

<p>
  <strong>Commenter:</strong>
  <%= @comment.commenter %>
</p>

<p>
  <strong>Text:</strong>
  <%= markdown @comment.body %>
</p>

<p>
  <strong>spam:</strong>
  <%= @comment.is_spam  ? 'yes' : 'no' %>
  (<%= @comment.honey %>)
</p>

<%= link_to 'Back', article_comments_path %>
